/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #2a2d3d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #555 #2a2d3d;
}
